name: "Test workflow"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]

# explicitly configure permissions, in case your GITHUB_TOKEN workflow permissions are set to read-only in repository settings
permissions:
  actions: write
  contents: read
  pull-requests: write
  id-token: write # Needed to federate tokens.

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Show OIDC claims (right before assume)
      env:
        AUDIENCE: "sts.amazonaws.com"
      run: |
        TOKEN_JSON=$(curl -s -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=$AUDIENCE")
        ID_TOKEN=$(echo "$TOKEN_JSON" | jq -r .value)
        echo "$ID_TOKEN" | awk -F. '{print $2}' | base64 -d 2>/dev/null | jq -r
      - name: "Test"
        run: |
          echo "Hello, world!"
